@{
    Layout = null;
}
@using Epam.HealthMonitoring.Ioc

@if (!IsPost)
{
    HealthMonitoringIoc.UserLogic
}
else
{

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
    
    </div>
</body>
</html>
