@{
    Layout = "~/Layout/_MainLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/StyleIndex.css" rel="stylesheet" />
    <title></title>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <!-- Блок 1 -->
                <div class="wp-block inverse no-margin">
                    <div class="figure">
                        <img src="~/img/1.jpg">
                        <div class="wp-block-info-over left">
                            <h2>
                                <span class="pull-left">
                                    <a href="http://cgon.rospotrebnadzor.ru/content/62/112/">Что такое здоровье?</a>
                                    
                                </span>
                            </h2>
                        </div>
                    </div>
                    <p>
                        Что же все-таки это такое - здоровье? Как его себе представить? Есть много определений - от детского «Здоровье - это когда 
                        ничто не болит» до научного, сформулированного Всемирной организацией здравоохранения: «Здоровье - это не только отсутствие 
                        болезни и немощи, а состояние полного физического, психического и социального благополучия».
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <!-- Block Default - More info over block -->
                <div class="wp-block inverse no-margin">
                    <div class="figure">
                        <img src="~/img/cat.jpg">
                        <div class="wp-block-info-over left">
                            <h2>
                                <span class="pull-left">
                                    <a href="https://www.purinaone.ru/cat/catmag/psychology/a-positive-impact-on-human">Влияние кошек на здоровье человека</a>
                                    
                                </span>
                            </h2>
                        </div>
                    </div>
                    <p>
                        Кошки считаются символом домашнего тепла и спокойствия. Они отлично приспосабливаются к различным условиям существования, 
                        гармонично вписываются в человеческое окружение. Милые пушистые создания общительны, дружелюбны, положительно влияют на наше 
                        психологическое, эмоциональное и физиологическое состояние.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <!-- Block Default - More info over block -->
                <div class="wp-block inverse no-margin">
                    <div class="figure">
                        <img src="~/img/3.jpg">
                        <div class="wp-block-info-over left">
                            <h2>
                                <span class="pull-left">
                                    <a href="https://www.adme.ru/svoboda-psihologiya/11-nauchnyh-otkrytij-kotorye-mogut-izmenit-vashe-predstavlenie-o-zdorove-1947415/">11 научных открытий</a>
                                    
                                </span>
                            </h2>
                        </div>
                    </div>
                    <p>
                        Здоровье — самое важное, что есть у людей, и именно поэтому многие стараются узнать что-то новое, то, что поможет 
                        сохранить его крепким как можно дольше. В наш век супертехнологий кажется, что ученые знают все о человеческом теле, 
                        но это не так.
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
